@use '_commons' as c;


.carousel__index{

    width: 80%;
    margin: 10%;
    box-shadow: 0px 10px 10px #000;
}

.frase__index{
    text-transform: uppercase;
    font-size: bold;
    color: white;
    width: 100%;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/tipologia3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}



.div__index__foto1{

    width: 80%;
    margin: 10%;
    box-shadow: 0px 10px 10px #000;
    grid-area: foto1;
}

.div__index__foto2{

    width: 80%;
    margin: 10%;
    box-shadow: 0px 10px 10px #000;
    grid-area: foto2;
}

.div__index__texto{
    width: 80%;
    margin: 10%;
    display: none;
    grid-area: texto;
    font-family: sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
    text-align: center;

}

.video__index{

    width: 70%;
    height: 100%;
    margin: 15%;
    box-shadow: 0px 10px 10px #000;
}
