@use '_commons' as c;


@media only screen and (min-width: 768px) {
    nav ul li {
      font-family: sans-serif;
      flex-direction: row;
      display: inline-block;
      margin-right: 10px;
      font-size: 1.2em;
    }


    .contenedor__gallery{

        grid-template-columns: 1fr 1fr;
    }

    


    #container__nosotros{

        grid-template-columns: 1fr 1fr;
        margin-bottom: 40px;
        margin-top: 20px;


        .container__nosotros__texto{

            margin-left: 15px;
            display: flex;
	        flex-direction: row;
	        flex-wrap: nowrap;
	        justify-content: center;
	        align-items: center;
	        align-content: center;
        }
       

    }  



    #container__tipologias{
        grid-template-columns: 50% 50%;
        width: 90%;
        margin: 5%;

        .container__tipologias__divs{

            width: 90%;
            margin: 5%;
            
        }

    }
    


} 


@media only screen and (min-width: 1280px){

    .contenedor__gallery{
    
    grid-template-columns:repeat(3,1fr);

    }

   


   


}