@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100;200&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "sofia sans";
  font-weight: bold;
}

.titulos__paginas {
  background-color: wheat;
  padding: 20px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  font-size: 20px;
}

.carousel__index {
  width: 80%;
  margin: 10%;
  box-shadow: 0px 10px 10px #000;
}

.frase__index {
  text-transform: uppercase;
  font-size: bold;
  color: white;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/tipologia3.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.div__index__foto1 {
  width: 80%;
  margin: 10%;
  box-shadow: 0px 10px 10px #000;
  grid-area: foto1;
}

.div__index__foto2 {
  width: 80%;
  margin: 10%;
  box-shadow: 0px 10px 10px #000;
  grid-area: foto2;
}

.div__index__texto {
  width: 80%;
  margin: 10%;
  display: none;
  grid-area: texto;
  font-family: sans-serif;
  font-size: 1.25em;
  text-transform: uppercase;
  text-align: center;
}

.video__index {
  width: 70%;
  height: 100%;
  margin: 15%;
  box-shadow: 0px 10px 10px #000;
}

#menuylogo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  list-style: none;
  background: linear-gradient(to right, #000, #484848);
}

nav {
  height: 80px;
  width: 100%;
  z-index: 100;
}

.enlace {
  position: absolute;
  padding: 20px 50px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: #fff;
  font-size: 18px;
  padding: 7px 13px;
  text-decoration: none;
}

li a.active, li a:hover {
  background: black;
  transition: 0.5s;
  color: orange;
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  .enlace {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  li a:hover, li a.active {
    color: #fff;
    background: orange;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
#container__nosotros {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
}
#container__nosotros .container__nosotros__foto {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  box-shadow: 0px 10px 10px #000;
}
#container__nosotros .container__nosotros__texto {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.3em;
  width: 100%;
}

.contenedor__gallery {
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  gap: 20px;
  padding: 20px;
  background-color: rgb(235, 235, 235);
}
.contenedor__gallery .gallery__fotos {
  width: 100%;
  transition: transform 0.3s ease-in-out;
  border: solid 1px rgb(255, 255, 255);
  box-shadow: 0px 10px 10px #000;
}

#container__tipologias {
  background-color: rgb(235, 235, 235);
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  margin: 10%;
}
#container__tipologias .container__tipologias__divs__titulo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  padding: 20px;
  font-size: 1.5em;
  text-transform: uppercase;
}
#container__tipologias .container__tipologias__divs__vivienda {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 15px;
  box-shadow: 0px 10px 10px #000;
}
#container__tipologias .container__tipologias__divs__plano {
  width: 100%;
  box-shadow: 0px 10px 10px #000;
  margin-bottom: 30px;
}

.contactos__container__form {
  display: grid;
}

.formulario {
  width: 100%;
  padding: 40px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/fondocontactos.jpg);
}
.formulario .textos__form {
  color: white;
  font-size: 20px;
}

.fotocontactos {
  width: 80%;
  margin: 10%;
  display: block;
}

@media only screen and (min-width: 768px) {
  nav ul li {
    font-family: sans-serif;
    flex-direction: row;
    display: inline-block;
    margin-right: 10px;
    font-size: 1.2em;
  }
  .contenedor__gallery {
    grid-template-columns: 1fr 1fr;
  }
  #container__nosotros {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  #container__nosotros .container__nosotros__texto {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  #container__tipologias {
    grid-template-columns: 50% 50%;
    width: 90%;
    margin: 5%;
  }
  #container__tipologias .container__tipologias__divs {
    width: 90%;
    margin: 5%;
  }
  #div__index {
    width: 90%;
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "foto1 foto2" "foto1 texto";
    background-color: rgb(248, 189, 179);
  }
  .div__index__texto {
    display: block;
  }
  .video__index {
    display: none;
  }
  .carousel__index {
    width: 80%;
    margin: 30px 10%;
  }
}
@media only screen and (min-width: 1280px) {
  .contenedor__gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .carousel__index {
    width: 60%;
    margin: 30px 20%;
  }
}
footer {
  background: wheat;
  height: 80px;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  padding-top: 10px;
}
footer p a {
  font-size: 8px;
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}/*# sourceMappingURL=main.css.map */